extends template

block content
  h1 #{company.name}
  p Тикер на бирже: $#{company.slug.toUpperCase()}

  if company.aliases && company.aliases.length > 0
    h4 Другие названия
    ul
      each alias in company.aliases.split(',')
        li #{alias}
  else
    p Других названий не найдено

  if company.predictions.length > 0
    h2 Связанные новости
    ul.list-group
      each prediction in company.predictions
        li.list-group-item
          p
            - var badgeColor = (prediction.article.prediction < -0.6) ? '#8B0000' : (prediction.article.prediction < -0.2) ? '#FF6347' : (prediction.article.prediction < 0.2) ? '#FFD700' : (prediction.article.prediction < 0.6) ? '#98FB98' : '#ADD8E6';
            span.badge(style={"background-color": badgeColor}) #{(prediction.article.prediction*100).toFixed(2)}%
            | 
            a(href=`/article/${prediction.article.id}`) #{prediction.article.title.length > 128 ? prediction.article.title.substring(0, 125) + '...' : prediction.article.title}
            |
            | (#{new Date(prediction.article.createdAt).toLocaleString('ru_RU')})
  else
    p Связанных с данной компанией новостей ещё нет
